@import 'lib/mixins.import.less';

body.editmsg {
  .flex-display();

  .bulletin {
    transform: scale(0.3334);
    position: absolute;
    transform-origin: 0 0;
    z-index: 0;
  }

  .editor {
    width: 360px;
    background-color: #14171A;
    z-index: 1;

    .container {
      .flex-display();
      color: #C4C7C9;
      font-size: 25px;
      .flex-direction(column);
      padding: 18px 13px 0 13px;

      .tip {
        font-size: 15px;
      }

      .msg {
        .flex(none);
        height: 87px;
        overflow: hidden;
      }

      div {
        .flex(1);

        textarea, input {
          border: 0;
          width: 100%;
          height: 46px;
          margin: 8px 0;
          color: #F0E6E6;
          font-size: 20px;
          resize: none;
          background-color: #343C45;
          overflow: hidden;
        }

        &.title input {
          height: 23px;
        }

        &.controls {
          .flex-display();
          margin: 10px 0px;
          text-align: center;

          #btn {
            .flex(1);
            margin: 0 10px;
            color: #F0E6E6;
            cursor: pointer;
            font-size: 20px;
            line-height: 40px;
            border-radius: 6px;
            border: 1px solid #4C5F89;
            background-color: #343C45
          }

          #btn:hover {
            border: 1px solid #384B75;
            background-color: #4C5F89;
          }

          #btn:active {
            border: 1px solid #384B75;
            background-color: #60739D;
          }
        }
      }
    }
  }

  .settings {
    z-index: 1;
    left: 725px;
    width: 300px;
    height: 640px;
    position: absolute;

    span {
      display: block;
    }
  }
}
