@import 'lib/mixins.import.less';

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  font-family: Arial, 'Microsoft JhengHei';

  body {
    margin: 0;
    overflow-x: hidden;

    .bulletin {
      width: 1080px;
      height: 1920px;
      position: relative;

      .background {
        opacity: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url('bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        transition: opacity 3s ease-out;
        .filter(brightness(0.5));

        &.onloaded {
          background-color: #000;
          background-image: none;
        }

        &.isloading {
          opacity: 0;
        }
      }

      .container {
        width: 1000px;
        height: 500px;
        padding: 53px 40px 0 40px;
      }

      .clock {
        position: relative;
        .flex-display();

        .graph {
          .flex(1);

          .ring {
            width: 452px;
            height: 452px;
            position: relative;
            border-radius: 50%;
            border: 24px solid #FFF;
            box-shadow: 0 3px 24px rgba(34, 34, 34, 0.3), inset 0 3px 24px rgba(34, 34, 34, 0.3);

            div {
              top: 50%;
              left: 50%;
              width: 0;
              height: 0;
              background-color: #FFF;
              position: absolute;
              transform-origin: 50% 100%;
              box-shadow: 0 3px 24px rgba(34, 34, 34, 0.3);
            }

            .hour {
              padding: 12px 0 12px 25%;
              margin: -12px 0 -12px -25%;
              border-radius: 12px 0 0 12px;
              transform-origin: 100% 50%;
            }

            .minute {
              padding: 40% 9px 0 9px;
              margin: -40% -9px 0 -9px;
              border-radius: 9px 9px 0 0;
            }

            .second {
              padding: 40% 3px 0 3px;
              margin: -40% -3px 0 -3px;
            }

            .center {
              width: 36px;
              height: 36px;
              border-radius: 50%;
              margin: -18px 0 0 -18px;
            }
          }
        }

        .worth {
          .flex(1);
          .flex-display();
          .flex-direction(column);

          .date {
            padding: 100px 0 0;
          }

          .weekday {
            padding: 40px 0;
          }

          .times {
            padding: 0 0 100px
          }

          span {
            .flex(1);
            color: #FFF;
            font-size: 65px;
            text-align: center;
          }
        }
      }

      .data {
        opacity: 1;
        .flex-display();
        position: absolute;

        .graph {
          .flex(1);
          color: #FFF;
          .flex-display();
          text-align: center;
          .flex-direction(column);

          .weatherIcon {
            height: 300px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            transition: opacity 0.3s ease-out;

            &.cloudy {
              opacity: 1;
              background-image: url('material/cloudy.png');
            }

            &.cloudy_day {
              opacity: 1;
              background-image: url('material/cloudy_day.png');
            }

            &.rainy {
              opacity: 1;
              background-image: url('material/rainy.png');
            }

            &.storm {
              opacity: 1;
              background-image: url('material/storm.png');
            }

            &.sunny {
              opacity: 1;
              background-image: url('material/sunny.png');
            }

            &.updating {
              opacity: 0;
            }
          }

          .weatherName {
            font-size: 65px;
            line-height: 75px;
            text-align: center;
            margin: 10px 0;
          }

          .extraDesc {
            width: 70%;
            .flex-display();
            margin: 0px auto;
            position: relative;

            .highest {
              background-image: url('material/highest.png');
            }

            .lowest {
              background-image: url('material/lowest.png');
            }

            div {
              .flex(0.5);
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
            }

            span {
              .flex(1);
              font-size: 45px;
            }
          }
        }

        .worth {
          .flex(1);
          .flex-display();
          position: relative;

          span {
            .flex(1);
            color: #FFF;
            font-size: 65px;
            line-height: 60px;
          }

          .subtitle, .temperature, .humidity {
            .flex(1);
            .flex-display();
            position: relative;
            text-align: center;
            .flex-direction(column);

            .icon {
              .flex(1);
              background-size: 78px;
              background-position: center 0;
              background-repeat: no-repeat;
            }

            span {
              .flex(1);
            }
          }

          .subtitle {
            .icon {
              background-image: url('material/location.png');
            }
          }

          .temperature {
            .icon {
              background-image: url('material/temperature.png');
            }
          }

          .humidity {
            .icon {
              background-image: url('material/humidity.png');
            }
          }
        }
      }

      .message {
        bottom: 0;
        color: #FFF;
        height: 761px;
        overflow: hidden;
        position: absolute;

        .title {
          width: 1000px;
          height: 150px;
          .flex-display();
          position: relative;

          .icon {
            .flex(none);
            width: 80px;
            height: 80px;
            margin: 45px 0px;
            background-size: contain;
            background-image: url("material/message.png");
          }

          .word {
            .flex(1);
            height: 70px;
            font-size: 70px;
            text-align: left;
            overflow: hidden;
            line-height: 90px;
            padding: 35px 0px 35px 20px;
          }
        }

        .content {
          width: 1000px;
          height: 420px;
          display: block;
          font-size: 60px;
          margin-top: 90px;
          position: relative;

          span {
            opacity: 0;
            width: 100%;
            height: 140px;
            display: block;
            overflow: hidden;
            position: absolute;
            margin-bottom: 60px;
            word-wrap: break-word;
          }

          .progressBar {
            bottom: 0;
            height: 0;
            width: 10px;
            left: -40px;
            opacity: 0.5;
            position: absolute;
            background-color: #FFF;
          }
        }
      }

      .statusbar {
        bottom: 0px;
        color: #FFF;
        width: 100%;
        height: 100px;
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        .flex-display();

        div {
          .flex(none);
          width: 100px;
          height: 100px;
          background-size: 80px;
          background-position: center;
          background-repeat: no-repeat;

          &.harc {
            background-image: url('material/harc.png');
          }

          &.light {
            background-image: url('material/light.png');
          }

          &.machine {
            background-image: url('material/machine.png');
          }

          &.total {
            background-image: url('material/total.png');
          }
        }

        span {
          .flex(1);
          font-size: 40px;
          line-height: 100px;
          text-align: center;
        }
      }
    }
  }
}
