@import 'lib/mixins.import.less';

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  font-family: Arial, 'Microsoft JhengHei';

  body {
    margin: 0;
    overflow: hidden;
    width: 1920px;
    height: 1080px;

    .column1, .column2 { min-height:100%; float:left; }
    .column1 {
      width: 640px;
    }
    .column2 {
      width: 1280px;
      height: 1080px;
      background-image: url('background/right-01.png');
      background-size: cover;
      background-repeat: no-repeat;

      .msg, .img { min-height:100%; float:left; width: 640px;}
      .msg {
        font-size: 60px;
        font-weight : bold;
        text-align: justify;
        color:white;

        .msgs div {
          margin:0 30px;
          text-shadow: 8px 0px 0px rgba(71, 71, 71, 0.71);
        }
        .msgs div:after {
          content: "";
          display: inline-block;
          width: 100%;
        }
      }
      .msgs:first-letter {
        font-size: 200%;
        margin-right: 3px;
      }
      .img {
        background-color:rgba(0, 0, 0, 0.5);
        height: 100%;
        #slick { margin: 76px 0; }
      }
    }

    .bulletin {
      width: 640px;
      height: 1080px;
      position: relative;

      .background {
        opacity: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url('bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        transition: opacity 3s ease-out;
        .filter(brightness(0.5));

        &.onloaded {
          background-color: #000;
          background-image: none;
        }

        &.isloading {
          opacity: 0;
        }
      }

      .container {
        width: 560px;
        height: 500px;
        padding: 26.67px 40px 0 40px;
      }

      .clock {
        position: relative;
        .flex-display();

        .graph {
          .flex(1);
            margin-top: 120px;

          .ring {
            width: 226px;
            height: 226px;
            position: relative;
            border-radius: 50%;
            border: 12px solid #FFF;
            box-shadow: 0 3px 12px rgba(34, 34, 34, 0.3), inset 0 3px 12px rgba(34, 34, 34, 0.3);

            div {
              top: 50%;
              left: 50%;
              width: 0;
              height: 0;
              background-color: #FFF;
              position: absolute;
              .transform-origin(50% 100%);
              box-shadow: 0 3px 12px rgba(34, 34, 34, 0.3);
            }

            .hour {
              padding: 6px 0 6px 25%;
              margin: -6px 0 -6px -25%;
              border-radius: 6px 0 0 6px;
              .transform-origin(100% 50%);
            }

            .minute {
              padding: 40% 4.5px 0 4.5px;
              margin: -40% -4.5px 0 -4.5px;
              border-radius: 4.5px 4.5px 0 0;
            }

            .second {
              padding: 40% 1.5px 0 1.5px;
              margin: -40% -1.5px 0 -1.5px;
            }

            .center {
              width: 18px;
              height: 18px;
              border-radius: 50%;
              margin: -9px 0 0 -9px;
            }
          }
        }

        .worth {
          .flex(1);
          .flex-display();
          .flex-direction(column);

          .date {
            padding: 100px 0 0;
          }

          .weekday {
            padding: 40px 0;
          }

          .times {
            padding: 0 0 100px
          }

          span {
            .flex(1);
            color: #FFF;
            font-size: 40px;
            text-align: center;
          }
        }
      }

      .data {
        opacity: 1;
        .flex-display();
        position: absolute;

        .graph {
          .flex(1);
          color: #FFF;
          .flex-display();
          text-align: center;
          .flex-direction(column);

          .weatherIcon {
            height: 160px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            transition: opacity 0.3s ease-out;

            &.cloudy {
              opacity: 1;
              background-image: url('material/cloudy.png');
            }

            &.cloudy_day {
              opacity: 1;
              background-image: url('material/cloudy_day.png');
            }

            &.rainy {
              opacity: 1;
              background-image: url('material/rainy.png');
            }

            &.storm {
              opacity: 1;
              background-image: url('material/storm.png');
            }

            &.sunny {
              opacity: 1;
              background-image: url('material/sunny.png');
            }

            &.updating {
              opacity: 0;
            }
          }

          .weatherName {
            font-size: 45px;
            line-height: 45px;
            text-align: center;
            margin: 20px 0;
          }

          .extraDesc {
            width: 80%;
            .flex-display();
            margin: 0px auto;
            position: relative;

            .highest {
              background-image: url('material/highest.png');
            }

            .lowest {
              background-image: url('material/lowest.png');
            }

            div {
              .flex(0.5);
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
            }

            span {
              .flex(1);
              font-size: 35px;
            }
          }
        }

        .worth {
          .flex(1);
          .flex-display();
          position: relative;

          span {
            .flex(1);
            color: #FFF;
            font-size: 35px;
            line-height: 60px;
          }

          .subtitle, .temperature, .humidity {
            .flex(1);
            .flex-display();
            position: relative;
            text-align: center;
            .flex-direction(column);

            .icon {
              .flex(1);
              height: 80px;
              background-size: 60px;
              background-position: center 0;
              background-repeat: no-repeat;
            }

            span {
              .flex(1);
            }
          }

          .subtitle {
            .icon {
              background-image: url('material/location.png');
            }
          }

          .temperature {
            .icon {
              background-image: url('material/temperature.png');
            }
          }

          .humidity {
            .icon {
              background-image: url('material/humidity.png');
            }
          }
        }
      }
    }
  }
}
